/* @media only screen and (max-width: 480px) {
    body {
        flex:auto;
    }
    .allphotos {
        width: 25%
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
        flex: auto;
    }

    .allphotos {
        width: 50%;
    }

} */

html,
body {
    /* background-color: white;
    color: black;
    font-size: 21px; */
    overflow-x:auto;
    /* width: 100vw;
    height: 100vh;  */
}


img {
    object-fit: cover;
}

.photo {
    /* position: absolute;
    margin-left: 50%;
    top: 20%; */
    position: relative;
    width: auto;
    height:auto;
    /* top: 100px; */
    margin-top: 0%;
    right: 40%;
    float:right;
    
}

.photo1 {
    position: relative;
    width: auto;
    height:auto;
    /* top: 375px; */;
    margin-top: 22.5%;
    float:right;
}

.photo2 {
    position: relative;
    width: auto;
    height:auto;
    /* top: 600px; */
    margin-top: 40%;
    float:right;
    right: 2.5%;
}

.photo img {
    border-radius: 20%;
    display: inline-block;
    width: 100%;
}

.photo1 img {
    border-radius: 20%;
    display: inline-block;
    width: 100%;
}

.photo2 img {
    border-radius: 20%;
    display: inline-block;
    width: 100%;
}

h1 {

    text-align: left;
    color: black;
    padding: 20px 0px 0px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2px;
    width: 75vw;
    font-size: 35px;

}

.back-to-home-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #D8504d;
    color: #fff;
    text-decoration: none;
    border-radius: 5x;
    transition: background-color 0.3s ease;
}

.back-to-home-button:hover {
    background-color: #D8504d;
}

.business {
    background-color: white;
    display: grid;
    place-items: center;
    width: 50vw;
}

.business h3 {
    font-size: 30px;
    list-style-type: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.business h3 a:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 2, 5, 0.6);
    color: white;
    border-radius: 100px;

}

.rating {
    text-align: left;
    font-size: 24px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}

.rating > span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 1.1em;
    margin: 0 0.1em;
}

.rating > span:before {
    content: "\2605";
    position: absolute;
    color: transparent;
    transition: color 0.3s ease;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    color: orange;
}







.card a {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #D8504d;
    border-radius:  100px;
    float: left;
    margin-right:1200px;
    margin-bottom: 20px;
    width: 50vw;
    height: 75px;
    margin-top: 5px;
    color: #000;
    text-align: center;
    font-size: 30px;
    top:50%;
    line-height: 65px;
    transform: translateY(-50%)
    text-decoration: none;
    /* transition: 0.2s ease-in; */
    padding: 10px, 0px, 10px, 0px;

}



p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100px;
}

.container{
    padding: 2px 16px;
}
.info {
    background-color: #D8504d;
    height: 50px;
    margin: -8px;
    padding: 0px;

}

footer a{
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000px;
    font-size: 17px;
    margin-left: 175px;
    margin-top: 18px;
    width: 100%;
}

.add-button {
    /* display: inline-block; */
    position: relative;
    padding: 10px 15px;
    background: #D8504d;
    color:inherit;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    outline: solid;
    outline-width: 2px;
    outline-color: gray;
    border-radius: 10px;
    float: right;
    width: 30vw;
    text-align: center;
}
.add-button:hover {
    background-color: #a72f2d;
}

/* h5{
    position: relative;
    top: 5px;
    right:10px;
    float: right;
    width: 25%;
    
    margin: auto;

} */